.backButton{
    position: absolute;
    top: 0rem;
    left: -4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.8rem; 
    margin: 0.5rem;
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    transition: 0.5s;
}
.formContainer{
    height: 100vh;
    width: 100vw;
    min-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--night);
    /* background-color: yellow; */
} 
.formContainer .PostForm{   
    position: relative;
    width: 50%;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 12px 2px var(--li-grey);
    border-radius: 12px;
    /* background-color: green; */
}
.formContainer .PostForm form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    /* background-color: pink; */
}
.formContainer .PostForm form label{
    width: 100%;
    font-size: 1rem;
    text-align: start;
    text-transform:capitalize;
}

.formContainer .PostForm form input{
    width: 100%;
    text-align: start;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 2px solid var(--d-grey);
}
.formContainer .PostForm form button{
    padding: 0.5rem 1rem;
    background-color: var(--prim);
    border-radius: 6px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.formContainer .PostForm form button:hover{
    background-color: var(--seco-3);
    transition: 0.25s;
}
