.mainSection .backButton.day{
    color: var(--black);
}
.mainSection .backButton.night{
    color: var(--light-white);
}


/* body of the page */
.ViewPostContainer{
    margin: 0.5rem 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 0 6rem;
}

/* this are the 2 section of 60 and 40 % of ViewPostContainer */
/* for desktop screen */
.mainSection{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sideSection{
    width: 40%;
    padding-top: 1rem;
    columns: 200px;
}
/* all the recomendation below the selected img / main section */
.mainSection section .recomendedPost{
    columns: 200px;
    margin-top: 1rem;
}

/* post which is been selected by user in wallpaperpg */
.Topbuttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 0 0.5rem;
    margin:0.5rem 0;
}
.Topbuttons button{
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 6px;
    background-color: var(--seco-1);
    height: 40px;
    transition: 0.5s;
    border: none;
}
.Topbuttons .zoomIn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
.Topbuttons button:hover{
    background-color: var(--seco-2);
}


.mainicons{
    display: flex;
    gap: 0.5rem;
}
.comments span:hover{
    color: var(--seco-1);
}


/* large image / zoom in  */
.LargeViewOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.LargeViewContent {
  position: relative;
  display: flex;
  align-items: center;
}

.LargeImage {
  height: 500px;
  margin: auto;
}

.ExitBtn {
  position: absolute;
  top: 0; 
  right:0;
  background: #ffffff64;
  border: 2px solid var(--d-grey);
  font-size: 1rem;
  padding:6px 12px;
}



@media screen and (max-width:1220px) {
    .ViewPostContainer{
        padding: 0 4rem;
    }
    .sideSection{
        columns: 150px;
    }   
}
@media screen and (max-width:1150px) {
    .mainSection section .recomendedPost{
        columns: 150px;
    }   
}
@media screen and (max-width:970px) {
    .mainSection {
        justify-content: center;
        width: 100%;
    }   
    .sideSection{
        width: 100%;
    }
    .ViewPostContainer{
        padding: 0 2rem;
    }
    .Topbuttons{
        display: none;
    }
}
@media (max-width: 970px) { .sideSection { display: none; } }

@media screen and (max-width:600px) {
    .ViewPostContainer{
        padding: 0;
    }
    .recomendedPost{
        padding: 0 1rem;
    }
    .ViewPostContainer .backButton{
        font-size: 0.7rem;
    }
}

/* only for mobile screen recomendation */
@media screen and (max-width:500px) {
    .mainSection section .recomendedPost{
        columns: auto;
        margin-top: 0;
    }

}