.ViewPostContainer{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;
}

.mainSection{
    width: 60%;
    height: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
}
.sideSection{
    width: 40%;
    padding-top: 1rem;
    columns: 200px;
}

.SelectedPostContainer{
    height: 35rem;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 24px;
    border: 2px solid var(--li-grey);
    float: left
}
.mainSection section .recomendedPost{
    columns: 200px;
    margin-top: 1rem;
}

section .recomendedPost .postCard img{
    width: 100%;  
    border-radius: 12px;
    transition: 0.5s;
    z-index: 10;
}
.recomendedPost .postCard img:hover{
  background-color:transparent;
  transform: translateY(-8px) scale(0.90);
}
/* toggle theam */
.recomendedPost .postCard img.day:hover{
   box-shadow:2px 2px 10px 0px var(--d-grey);
}
.recomendedPost .postCard img.night:hover{
   box-shadow:2px 2px 10px 0px var(--black);
}

.ViewedImg {
    height: 80%;
    width: 100%;
    margin-bottom: 1rem;
}

.ViewedImg img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.PostActivite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 0.5rem;
    font-size: 1.3rem;
}
.PostActivite .icons{
    margin: 0px 4px;
}
.PostAuther{
    padding: 0 0.5rem;
}
