
/* colors, spacing, typography */
.dark{
  background-color:var(--dark);
  color: var(--pure-white);
}
.light{
  background-color:var(--pure-white);
  color: var(--black);
} 
.night{
  background-color: var(--night);
  color: var(--pure-white);
}

/* mouse placement */
.mouseCursor{
  cursor: pointer;
}

.error{
    color: red;
}

