.skeleton-post {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  padding: 12px;
  border-bottom: 1px solid var(--d-grey);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.skeleton-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.skeleton-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--li-grey);
  position: relative;
  overflow: hidden;
}

.skeleton-username {
  width: 120px;
  height: 12px;
  border-radius: 6px;
  background: var(--li-grey);
  position: relative;
  overflow: hidden;
}
.skeleton-image {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  background: var(--li-grey);
  position: relative;
  overflow: hidden;
}

/* Actions */
.skeleton-actions {
  display: flex;
  gap: 16px;
  padding: 4px 0;
}
.skeleton-icon {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background: var(--li-grey);
  position: relative;
  overflow: hidden;
}

/* Caption */
.skeleton-caption {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton-line {
  height: 10px;
  border-radius: 6px;
  background: var(--li-grey);
  position: relative;
  overflow: hidden;
}

.skeleton-line.short {
  width: 40%;
}

.skeleton-line.long {
  width: 80%;
}

.skeleton-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

/* Base skeleton style */
.skeleton-img,
.skeleton-text {
  position: relative;
  overflow: hidden;
  margin: 0.2rem;
}

/* Image */
.skeleton-img {
  min-width: 130px;
  max-width: 200px;
  height: 250px;
  border-radius: 12px;
}

/* Text */
.skeleton-text {
  height: 14px;
  min-width: 100px;
  max-width: 160px;
  border-radius: 6px;
}

.skeleton-card:nth-child(2) .skeleton-img::before {
  animation-delay: 0.2s;
}

/* 🔥 Glass Shine Effect */
.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;

  background: linear-gradient(
    110deg,
    transparent 25%,
    rgba(255, 255, 255, 0.044) 50%,
    transparent 75%
  );

  animation: shine 1.4s ease-in-out infinite;
}

/* Smooth sweeping animation */
@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

/* =========== Theme =============== */
.skeleton-card.light .skeleton-img,
.skeleton-card.light .skeleton-text,
.skeleton-post.light .skeleton-avatar,
.skeleton-post.light .skeleton-username,
.skeleton-post.light .skeleton-image,
.skeleton-post.light .skeleton-icon,
.skeleton-post.light .skeleton-line {
  background: var(--li-grey);
}

.skeleton-card.dark .skeleton-img,
.skeleton-card.dark .skeleton-text,
.skeleton-post.dark .skeleton-avatar,
.skeleton-post.dark .skeleton-username,
.skeleton-post.dark .skeleton-image,
.skeleton-post.dark .skeleton-icon,
.skeleton-post.dark .skeleton-line {
  background:var(--night);
}