.profile-skeleton {
  margin: 0 4rem;
  margin-top: 80px;
}

/* Base skeleton */
.skeleton {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.skeleton.dark{
    background: var(--night);
}
.skeleton.light{
    background: var(--li-grey);
}

.post:nth-child(odd)::before {
  animation-delay: 0.2s;
}

/* Shine effect */
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    110deg,
    transparent 25%,
    rgba(255,255,255,0.6) 50%,
    transparent 75%
  );
  animation: shine 1.4s infinite;
}

@keyframes shine {
  0% { left: -150%; }
  100% { left: 150%; }
}

/* Header */
.profile-header {
  display: flex;
  gap: 3rem;
  padding: 1rem;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-info {
  flex: 1;
}

.name {
  width: 200px;
  height: 24px;
  margin-bottom: 10px;
}

.username {
  width: 150px;
  height: 16px;
  margin-bottom: 15px;
}

.stats {
  display: flex;
  gap: 1rem;
  margin-bottom: 15px;
}

.stat {
  width: 60px;
  height: 20px;
}

.bio {
  width: 300px;
  height: 14px;
  margin-bottom: 0.2rem;
}
.small-bio{
    width: 200px;
}

/* Tabs */
.profile-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  margin: 20px 0;
}

.tab {
  width: 40%;
  height: 30px;
}

/* Posts grid */
.profile-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.post {
  width: 100%;
  height: 200px;
}