.selectedUserPostContainer{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.244);

    width: 100dvw;
    height: 100dvh;
    padding: 1rem 4rem ;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.selectedUserPostModel{
    height: 90%;
    width: 800px;
    min-width: 800px;
    overflow: auto;

    padding: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: start;
    justify-content: center;
}

 .selectedUserPostModel .SelectedPost{
    width: 750px;
 }


.selectedUserPostModel::-webkit-scrollbar{
    width: 6px;
}
.selectedUserPostModel.dark::-webkit-scrollbar-thumb{
    background-color: var(--night); 
    border-radius: 4px;
}
.selectedUserPostModel.light::-webkit-scrollbar-thumb{
    background-color: var(--li-grey); 
    border-radius: 4px;
}

.selectedUserPostModel.night::-webkit-scrollbar-track{
    background-color: var(--dark);
}


@media screen and (max-width:800px) {
    .selectedUserPostContainer .selectedUserPostModel{
        height: 100dvh;
        width: 100dvw;
        min-width: none;
        padding: 0rem;
        flex-wrap: wrap;
        flex-direction: row;
        overflow: auto;
    }
     .selectedUserPostModel .SelectedPost{
        width: 100dvw;
        border-radius: 0;
        margin: 0;
    }
}
@media screen and (max-width:600px) {
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg{
        height: 300px;
    }
}
@media screen and (max-width:400px) {
    .selectedUserPostContainer .selectedUserPostModel {
        min-width: 100dvw;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg{
        height: 250px;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .PostActivite{
        margin: 0;
    }
}
@media screen and (max-width:500px) {
    .selectedUserPostContainer .selectedUserPostModel .post_container{
        width: 100dvw;
        columns: auto;
        margin:0;
    }

}