/* about section body*/
.about-section{
  height:50dvh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 50px ;
  overflow: visible;
}
.about-us{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 50px ;
  /* background-color: green; */
} 

/* about section content */
.about-us  .content .topic{
  color: var(--seco-1);
  font-size: 2rem ;
  font-weight:500;
  -webkit-text-stroke: 1px var(--prim);
  text-decoration: underline;
}

.about-us .content .disc{
  width: 80%;
  font-size: 0.8rem;
  word-spacing: 0.3rem;
  margin-bottom: 20px;
}

.button button{
  padding: 10px;
  border: 1px solid black;
  width: 120px;
  background-color: white;
  border-radius: 24px;
}

/* about section image card */
.about-img{
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.about-img .about-card{
  width: 400px;
  padding: 1rem;
  border-radius: 20px;
  transform: rotate(-5deg);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(156, 156, 156, 0.25);
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 3;
  transition: 0.75s;
}

.about-img .about-card .card-img{
  border-radius: 50%;
  background-color: var(--light-white);
  border: 1px solid var(--d-grey);
  height: 150px;
  width: 150px;
  position: relative;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-image: url("/animax-img/animaxx-only-logo-removebg-preview.png");
  background-size: contain;
  background-position: center;
}

.about-section .about-img .card-title{
  margin-top: 5px;
  height: 50px;
  font-size: 1.7rem;
  font-weight: 700;
} 

/* about section floating circle*/
.small-logo-box{
  position: absolute;
  top: 100px;
  right: -50px;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background-color: rgba(248, 229, 193, 0.25);
  backdrop-filter: blur(20px);
  border: 1px solid var(--d-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }
 
.small-logo-box .small-logo-img{
  height: 50px;
  width: 50px;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.small-logo-box .dis{
  width: 100%;
  font-size: 0.6rem;
  padding: 10px 5px;
}

.big-circle{
  height: 80px;
  width: 80px;
  position: absolute; border-radius: 50%;
  z-index: 2;
}

#big-circle-1{
  background-image: linear-gradient(to bottom right , var(--prim), transparent);
  top: 30px;
  left: 220px;
}
#big-circle-2{
  background-image: linear-gradient(to bottom left , var(--prim), transparent);
  bottom: 20px;
  left: 250px;
}

.small-circle{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--seco-1);
}

#small-circle-1{
  top: -10px;
  right: 80px;
}
#small-circle-2{
  bottom: -10px;
  right: 10px;
} 

/* about media query */
@media screen and (max-width:980px) {
  .about-section{
    padding: 20px;
  }
  .about-us{
    padding: 30px 0px 30px 10px ;
  }
  .about-img .about-card{
    width: 350px;
    padding: 0;
    /* background-color: red; */
  }
}

@media screen and (max-width:790px) {
  .about-section{
    height: 100%;
  }
  .about-us{
    width: 100%;
  }
  .about-us .content{
    text-align: start;
  }
  .about-us .content .disc{
    padding: 10px 0;
  }
  .about-img{
    padding: 1rem;
    width: 100%;
    /* background-color: blue; */
  }
}


@media screen and (max-width:700px) {
  #big-circle-1{
    top: 30px;
    left: 250px;
  }
  #big-circle-2{
    bottom: 20px;
    left: 100px;
  }
  .about-section .about-card{
    width:300px;
  }
  .about-img .about-card .card-img{
    height: 80px;
    width: 80px;
  }
  .about-img .about-card .card-title{
    font-size: 1rem;
  }
  .small-logo-box{
    height: 70px;
    width: 70px;
    border-radius: 12px;
  }
  .small-logo-box .small-logo-img{
    height: 25px; 
    width: 25px;
    font-size: 1rem;
  }
  .small-logo-box .dis{
    text-align: center;
    font-size: 0.5rem;
}
}
@media screen and (max-width:430px) {
  .small-logo-box{
    display: none;
  }
  .about-us .content .disc{
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .about-us .content .topic{
    font-size: 1.2rem;
  }
  .about-us .content .button button{
    padding: 4px;
    width: 60px;
    font-size: 0.5rem;
  }
}