.selectedUserPostContainer{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.244);

    width: 100dvw;
    height: 100dvh;
    padding: 1rem 4rem ;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.selectedUserPostContainer .selectedUserPostModel .backBtn{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.selectedUserPostContainer .backBtn span{
    margin: 0 0.5rem;
    font-weight: 500;
}
.selectedUserPostContainer .selectedUserPostModel{
    height: 90%;
    width: 80%;
    min-width: 800px;

    padding: 1rem;
    border-radius: 16px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.selectedUserPostContainer .selectedUserPostModel .SelectedPost{
    width: 70%;
}
.selectedUserPostContainer .selectedUserPostModel .post_container{
    width: 30%;
    height: 100%;
    overflow-y: auto;

    gap: 0;
    margin: 0;
    padding: 0;
}
.selectedUserPostContainer .selectedUserPostModel .post_container .wallpaper-list .postCard{
    margin-bottom: 0.5rem;
    height: fit-content;
}
.selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg{
    width: 100%;
    height: 800px;
    margin-bottom: 2rem;
    overflow: hidden;
}
.selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg img{
    object-fit: contain;
    width: 100%;
    height: 100%;

}
.selectedUserPostContainer .selectedUserPostModel .SelectedPost .PostComments{
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 300px;
    width: 100%;
}
.PostComments.night::-webkit-scrollbar,
.post_container.night::-webkit-scrollbar{
    width: 6px;
}
.PostComments.night::-webkit-scrollbar-thumb{
    background-color: var(--dark); 
    border-radius: 4px;
}
.post_container.night::-webkit-scrollbar-thumb{
    background-color: var(--night); 
    border-radius: 4px;
}
.PostComments.night::-webkit-scrollbar-track{
    background-color: var(--night);
}
.post_container.night::-webkit-scrollbar-track{
    background-color: var(--dark);
}
.PostComments input.night{
    color: var(--pure-white);
    background-color: var(--night);
}

@media screen and (max-width:800px) {
    .selectedUserPostContainer .selectedUserPostModel{
        height: 100dvh;
        width: 100dvw;
        min-width: none;
        padding: 0rem;
        flex-wrap: wrap;
        flex-direction: row;
        overflow: auto;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost{
        width: 100dvw;
        height: fit-content;
        border-radius: 0;
        padding: 2rem ;
    }
    .selectedUserPostContainer .selectedUserPostModel .post_container{
        width: 100dvw;
        flex-wrap: wrap;
        columns: 200px;
        margin-top: 2rem;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg{
        width: 100%;
        height: 400px;
        margin-bottom: 2rem;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .PostComments{
        height: max-content;
        max-height: 200px;
    }
}
@media screen and (max-width:600px) {
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost{
        padding: 1rem ;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg{
        height: 300px;
    }
}
@media screen and (max-width:400px) {
    .selectedUserPostContainer .selectedUserPostModel {
        min-width: 100dvw;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .ViewedImg{
        height: 250px;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .PostActivite{
        margin: 0;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .PostComments{
        padding: 0 8px;
    }
    .selectedUserPostContainer .selectedUserPostModel .SelectedPost .PostComments h2{
        font-size: 0.8rem;
    }
       .selectedUserPostContainer .selectedUserPostModel .post_container{
        margin-top: 0.5rem;
    }
}