.Setting_container{
    background-color: rgba(0, 0, 0, 0.384);
    /* background-color:var(--light-white); */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0; right: 0;
    z-index: 9999;
}
.Setting_Model{
    border-radius: 16px;
    display: flex;
    height: 600px;
    width: 900px;
}
.Setting_Model.dark{
    background-color: var(--dark);
}
.Setting_Model.light{
    background-color: var(--pure-white);
}
.Setting_Model .Setting_Nav{
    font-size: 1rem;
    padding: 2rem;
    width: 200px;
}
.Setting_Nav ul {
    list-style-type: none;
    cursor: default;
}
.Setting_Nav ul li{
    margin-top: 1rem;
}
.Setting_Nav ul li:hover{
    color: var(--seco-3);
}

.Setting_Content{
    width: 100%;
    padding: 2rem;
}

/* Aount Content */
.setting_header{
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
    /* background-color: blue; */
}
.setting_Container{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.195) transparent;
    width: 100%;
    height: 450px;
    padding: 1rem;
    border-radius: 16px;
}
.setting_Container.light{
    background-color: azure;
}
.setting_Container.dark{
    background-color: var(--night);
}
.setting_Container::-webkit-scrollbar-button{ 
    display: none; 
}
.setting_Container .Profil_Pic{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    background-color: darkcyan;
    border-radius: 12px;
}
.setting_Container .Profil_Pic img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.setting_Container .Profil_Pic  button{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0;
    font-size: 0.5rem;
    background-color: var(--li-grey);
}
.setting_Container .Edit_Button{
    display: flex;
    justify-content: end;
    transition: 0.5s;
}
.setting_Container .Edit_Button button:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
.setting_Container .Edit_Button button{
    padding: 0.2rem;
    border-radius: 6px;
    background-color: var(--seco-3);
    color: var(--black);
    font-size: 1rem;
}
.setting_Container .Edit_Button button:hover{
    color: var(--prim);
    background-color: var(--seco-2);
}

.setting_Container .Update_Profile form{
    padding: 1rem;
}
.setting_Container .Update_Profile form input{
    border: 1px solid darkcyan;
}

.setting_Container .Update_Profile form .bio{
    width: 100%;
    height: 100%;
    padding: 0.5rem  0.5rem;
    border-radius: 6px;
}
.setting_Container .Update_Profile form textarea{
    resize: none;
}
.userid_bio{
    padding: 0 1rem;
}
.setting_Container .Update_Profile form .two_inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    min-height: 80px;
}
.setting_Container .Update_Profile form .gender_save{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.setting_Container .Update_Profile form .two_inputs input{
    height: 2rem;
    padding: 6px ;
    border-radius: 6px;
}
.setting_Container .Update_Profile form .two_inputs .username .error{
    color: red;
}
.two_inputs > div {
  display: flex;
  flex-direction: column; 
  flex: 1;                
  min-width: 200px;
}


.setting_Container .Update_Profile form .gender_save button{
    margin-top: 0.5rem;
}
.setting_Container .Update_Profile form .gender_save select{
    padding: 0.5rem 1rem;
    border: 1px solid darkcyan;
    border-radius: 4px;
}
.setting_Container .Update_Profile form button{
    height: 35px;
    width: 60px;
    border-radius: 4px;
    background-color: var(--seco-3);
    transition: 0.5s;
    width: 100px;
}
.setting_Container .Update_Profile form .save_btn{
    padding: 0.5rem 1rem;
}
.setting_Container .Update_Profile form .gender_save button:hover,
.setting_Container .Update_Profile form .save_btn button:hover{
    background-color: var(--seco-2);
    color: var(--prim);
}

.Verify_otp{
    padding: 0.5rem 0;
    margin-top: 0.5rem;
}



.Account_Created{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}



/* mode ----------------------------- */
.Mode_Input_container {
    margin: 1rem 0;
    font-size: 1rem;
}
.Mode_Input input{
    margin: 0.5rem 0.5rem;
}

/* aboit us =---------------------------------- */
.Contact_Container .foot-container{
    margin: 0;
    padding: 1rem;
    width: 100%;
    border-radius: 16px;
    height: 450px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.195) transparent;
}
.Contact_Container .foot-container.light{
    background-color: azure;

}
.Contact_Container .foot-container.dark{
    background-color: var(--night);
}
.Contact_Container .foot-container .des{
    width: 100%;
    padding: 0;
}
.Contact_Container .foot-container .des img{
    filter: drop-shadow(2px 2px 2px var(--black));
}
.close_Settings{
    display: none;
}

@media screen and (max-width:700px) {
.Contact_Container .foot-container{
    height: 600px;
}
.Setting_Model .close_Settings{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin:2rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    transition: 0.3s;
}
.Setting_Model .close_Settings:hover{
    background-color: rgba(128, 128, 128, 0.093);
    border-radius: 6px;
}
.Setting_Model{
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: block;
    border-radius: 0;
}
.Setting_Model .Setting_Nav{
    width: 100%;
    margin: 0;
    padding: 1rem 1.5rem;
}
.Setting_Model .Setting_Nav ul{
    display: flex;
    padding-bottom: 0.5rem;
    gap: 1.5rem;
    border-bottom: 1px solid var(--li-grey);
}
.setting_Container{
    height: 700px;
}
.setting_Container .Update_Profile form{
    padding: 0.5rem;
}
.setting_Container .Update_Profile form .two_inputs,
.setting_Container .Update_Profile form .gender_save,
.setting_Container .Update_Profile form .userid_bio,
.setting_Container .Update_Profile form .save_btn{
    padding: 0;
    margin-top: 1rem;
}
}
@media screen and (max-width:550px) {
    .setting_Container .Update_Profile form .two_inputs{
        gap: 0.5rem;
    }
}
@media screen and (max-width:400px) {
    .Setting_Model .Setting_Nav ul{
        font-size: 0.7rem;
        gap: 1rem;
    }
    .Setting_Content{
        padding: 0.5rem;
    }
}