.formContainer{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--night);
    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0; right: 0;
    z-index: 9998;
} 
.formContainer .PostForm.night::-webkit-scrollbar-track{
    background-color: var(--dark);
}
.formContainer .PostForm.light::-webkit-scrollbar-thumb{
    background-color: var(--li-grey); 
    border-radius: 4px;
}
.formContainer .PostForm.dark::-webkit-scrollbar-thumb{
    background-color: var(--night); 
    border-radius: 4px;
}
.formContainer .PostForm::-webkit-scrollbar{
    width: 6px;
}

.formContainer .PostForm{   
    position: relative;
    width: 700px;
    height: 80%;
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    overflow: auto;
}

.formContainer .PostForm.light{
    background-color: var(--pure-white);
    box-shadow: 0 0 8px 2px var(--li-grey);
}
.formContainer .PostForm.dark{
    background-color: var(--dark);
    box-shadow: 0 0 8px 2px var(--black);
}
.formContainer .PostForm .Close-btn{
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}
.formContainer  .PostForm .Close-btn:hover{
    border-radius: 6px;
    color: var(--seco-1);
    background-color: rgba(128, 128, 128, 0.088);
}
.formContainer .PostForm form .viewimg{
    /* background-color: red; */
    height: 300px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.formContainer .PostForm form img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color:rgba(128, 128, 128, 0.063);
}
.formInputs{
    display: flex;
    flex-direction: column;
}
.formContainer .PostForm form label{
    font-size: 1rem;
    text-align: start;
    margin: 1rem;
    text-transform:capitalize;
}

.formContainer .PostForm form input{
    text-align: start;
    padding: 0.5rem;
    border: 0;
    outline: none;
    border-bottom: 1px solid var(--d-grey);
}
.formContainer .PostForm form .error{
    color: red;
    font-size: 0.7rem;
}
.formContainer .PostForm form input{
    background-color: var(--dark);
    color: var(--pure-white);
}
.formContainer .PostForm form textarea{
    height: 80px;
    padding: 1rem;
    resize: none;
    border-radius: 8px;
}
.formContainer .PostForm form input.light{
    background-color: var(--pure-white);
    color: var(--black);
}
.formContainer .PostForm form button{
    padding: 1rem;
    background-color: var(--seco-3);
    border-radius: 16px;
    border: none;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem auto;
    width: 50%;
}
.formContainer .PostForm form button:hover{
    background-color: var(--seco-2);
    
    transition: 0.25s;
}
.formContainer .PostForm form button.UploadButton{
    margin-top: 1.5rem;
}



@media screen and (max-width:700px) {
    .formContainer .PostForm{
        height: 100dvh;
        width: 100dvw;
        box-sizing: none;
    }
    .formContainer .PostForm .Uploadtitle{
        margin-top: 1rem;
    }
    .formContainer .PostForm .Close-btn{
        margin: 2rem;
    }
}


@media screen and (max-width:512px) {
    .formContainer .PostForm form input{
        padding: 0;
        height: 40px;
    }
    .formContainer .PostForm form label{
        margin:1rem 0;
    }

    .formContainer .PostForm form button{
        padding: 0.5rem 0.5rem;
        font-weight: 400;
        border-radius: 8px;
        width: 80%;
    }
}


