/*================= responsive side navigation bar======= */
.wallpaper-side-nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100dvh;
  width: min(18rem, 100%);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border-right: 1px solid var(--prim);
  z-index: 1200;
  transition: left 300ms ease-in-out;
  padding: 1.5rem 2rem;
}

.wallpaper-side-nav.show {
  left: 0;
}

/* ============Sidebar nav links=========== */
.wallpaper-side-nav nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wallpaper-side-nav nav a {
  width: 100%;
  /* padding: 0.75rem 1rem; */
  text-align: left;
}
.routeLinks{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.routeLinks a:hover{
  transition: 0.5s;
  border-radius: 6px;
  background-color: var(--seco-2);
}


/* ===============Close and open button =============*/
.toggle-close-nav-btn {
  align-self: flex-end;
  background-color: var(--seco-1);
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  border: 1px solid black;
}
.toggle-open-nav-btn{
  padding: 6px 10px;
  border-radius: 0.5rem;
  background-color: var(--seco-1);
  font-size: 1.3rem;
}
.toggle-open-nav-btn:hover,
.toggle-close-nav-btn:hover{
  background-color: var(--seco-2);
  transition: 0.5s;
}
.mob-nav-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


/*============ Overlay =====*/
.wallpaper-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1100;
}

/* theam toggle for navigation bar */
.wallpaper-nav.light{
  background-color:var(--pure-white);
}
.wallpaper-nav.dark{
  background-color:var(--dark);
  color: var(--light-white);
}
/*-================ main horizontal navication bar============ */
.SearchAndNavPannel{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  /* background-color:var(--pure-white); */
  padding: 0px 1rem ;
}
.profilNav .SearchAndNavPannel{
  justify-content: space-between;
  padding: 0 4rem ;
}
@media screen and (max-width:856px) {
  .profilNav .SearchAndNavPannel{
    padding: 0 2rem;
  }
}
.logoutButton{
  width: 100%;
}
.logoutLink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #cecac985;
  border: 1px solid var(--black);
  padding: 0.2rem 1rem;
  width: 100%;
  /* gap: 0.5rem; */
  margin-top: 0.5rem;
  /* background-color: yellow; */
}
.LogoutIcon{
  /* background-color: red; */
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--black);
}
.logoutLink a{
  padding: 0.5rem; 
  color: var(--black);
  /* background-color: red; */
}
.VirticalNav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90%;
}

/* serch bar */
.responsive_nav_searh{
  display: flex;
  height: 4em;
  padding: 4px;
  width: 90%;
  justify-content: center;
}
.search_input{
    padding: 16px;
    width: 88%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--light-white);
    border-radius: 1rem 0 0 1rem;
}

.search_icon{
    background-color: var(--seco-1);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color:#0f1111 ;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    flex-shrink: 0;
    padding: 16px;
}

/* profile picture  */
.wallpaper-nav .Animaxx-logo{
  height: 45px;
  width: 45px;
  filter: drop-shadow(2px 1px 1px var(--black));
  cursor: pointer;
}
.wallpaper-nav .Animaxx-logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.1rem;
  background-image: linear-gradient(90deg,#833AB4 0%, #FD1D1D 50%, #FCB045 100%);
}
.mob-nav-header .Animaxx-Logo{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.mob-nav-header .Animaxx-Logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Small screen layout */
@media screen and (max-width:830px) {
  .SearchAndNavPannel {
    padding: 0px 1rem;       
    gap: 1rem;                  
  }
  .responsive_nav_searh{
    height: 3em;
  }
  .search_input{
    width:80%;
  }
  .search_icon{
    font-size: 1rem;
  }
  .mob-nav-header .Animaxx-Logo,
  .wallpaper-nav .Animaxx-logo{
    height: 35px;
    width: 35px;
  }
  .toggle-open-nav-btn{
    padding: 4px 8px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media screen and (max-width:580px) {
  .search_input{
    width: 80%;
  }
  .wallpaper-list{
    columns: 100px;
  }
}