/* dropdown for profile */
.dropdown-menu.dark{
  background-color: var(--night);
}
.dropdown-menu.light{
  background-color: var(--pure-white);
}
.dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  padding: 0.7rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}


.dropdown-menu.active{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown-menu .Profile-info{
  display: flex;
  gap: 0.5rem;
}
.dropdown-menu .Profile-info .profile-img{
  height: 40px;
  width: 40px;
  overflow: hidden;
}
.dropdown-menu .Profile-info .profile-img img{
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.dropdown-menu .profile-content h2{
  white-space: nowrap;
}
.dropdown-menu .profile-content p{
  opacity: 0.5;
  font-size: 0.6rem;
}
.dropdown-menu hr{
  opacity: 0.2;
  margin: 0.5rem;
}

.dropdown-menu .dropdownlink{
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 12px;
  transition: 0.3s;
} 
.dropdown-menu.dark .dropdownlink:hover{
  background-color: rgba(128, 128, 128, 0.097);
}


/* ============Sidebar nav links=========== */
.routeLinks{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.routeLinks a:hover{
  transition: 0.5s;
  border-radius: 6px;
  background-color: var(--seco-2);
}

/* ===== Wallpaper Page Left Sidebar Nav ===== */
.side-nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100dvh;
  width: min(18rem, 100%);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border-right: 1px solid var(--prim);
  z-index: 1200;
  transition: left 300ms ease-in-out;
  padding: 1.5rem 2rem;
}

.side-nav.show {
  left: 0;
}
.side-nav nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.side-nav a {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

/* ===============Close and open button =============*/
.toggle-close-nav-btn {
  align-self: flex-end;
  background-color: var(--seco-1);
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  border: 1px solid black;
}
.toggle-open-nav-btn{
  padding: 6px 10px;
  border-radius: 0.5rem;
  background-color: var(--seco-1);
  font-size: 1.3rem;
}
.toggle-open-nav-btn:hover,
.toggle-close-nav-btn:hover{
  background-color: var(--seco-2);
  transition: 0.5s;
}
.side-nav-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/*-================ main horizontal navication bar============ */
.SearchAndNavPannel{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  padding: 0px 2rem ;
}
.profilNav .SearchAndNavPannel{
  justify-content: space-between;
  padding: 0 4rem ;
}
@media screen and (max-width:856px) {
  .profilNav .SearchAndNavPannel{
    padding: 0 2rem;
  }
}
.logoutButton{
  width: 100%;
}
.logoutLink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #cecac985;
  border: 1px solid var(--black);
  padding: 0.2rem 1rem;
  width: 100%;
  /* gap: 0.5rem; */
  margin-top: 0.5rem;
  /* background-color: yellow; */
}
.LogoutIcon{
  /* background-color: red; */
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--black);
}
.logoutLink a{
  padding: 0.5rem; 
  color: var(--black);
  /* background-color: red; */
}
.VirticalNav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90%;
}

/* serch bar */
.responsive_nav_searh{
  display: flex;
  height: 4em;
  padding: 4px;
  width: 90%;
  justify-content: center;
}
.search_input{
    padding: 16px;
    width: 88%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--light-white);
    border-radius: 1rem 0 0 1rem;
}

.search_icon{
    background-color: var(--seco-1);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color:#0f1111 ;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    flex-shrink: 0;
    padding: 16px;
}

/* profile picture  */
.wallpaper-nav .Animaxx-logo,
.side-nav-header .Animaxx-Logo{
  height: 45px;
  border-radius: 6px;
  padding: 0.1rem 0.3rem;
}
.wallpaper-nav .Animaxx-logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.1rem;
  background-image: linear-gradient(90deg,#833AB4 0%, #FD1D1D 50%, #FCB045 100%);
}

.side-nav-header .Animaxx-Logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Small screen layout */
@media screen and (max-width:830px) {
  .SearchAndNavPannel {
    padding: 0px 1rem;       
    gap: 1rem;                  
  }
  .responsive_nav_searh{
    height: 3em;
  }
  .search_input{
    width:80%;
  }
  .search_icon{
    font-size: 1rem;
  }
  .side-nav-header .Animaxx-Logo,
  .wallpaper-nav .Animaxx-logo{
    height: 35px;
  }
  .toggle-open-nav-btn{
    padding: 4px 8px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media screen and (max-width:580px) {
  .search_input{
    width: 75%;
  }
  .wallpaper-nav .Animaxx-logo{
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width:400px) {
  .wallpaper-nav .Animaxx-logo{
    height: 25px;
    width: 25px;
  }
  .SearchAndNavPannel {
    padding: 0px 0.5rem;       
    gap: 0;                  
  }
}