@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ============ theme ==================*/
.wallpaper-nav.light{
  background-color:var(--pure-white);
}
.wallpaper-nav.dark{
  background-color:var(--dark);
  color: var(--light-white);
}


/* ------------------------------ */
.GalleryPostContainer{
  width: 100vw;
}
.GalleryPostContainer .post-list{
  columns: 200px;
  margin: 100px 2rem 0 2rem; 
}
.post_container .post-list{
  columns: 200px;
  margin: 1rem;
}
.GalleryPostContainer .post-list img,
.post_container .post-list img{
    width: 100%;  
    border-radius: 12px;
    transition: 0.5s;
    z-index: 10;
}
.postDescription{
  opacity: 0.5;
  width: 60%;
  font-weight: 400;
}
.postcardDescription{
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

/* Overlay */
.wallpaper-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1100;
}

@media (max-width:700px) {
.GalleryPostContainer .post-list,
.post_container .post-list{
  columns: 140px;
}
}
@media (max-width:500px) {
.GalleryPostContainer .post-list,
.post_container .post-list{
  columns: 120px;
}
}
@media (max-width:400px) {
  .post_container .post-list,
   .GalleryPostContainer .post-list{
    columns: 100px;
    margin: 0rem;
  }
  
  .GalleryPostContainer .post-list img,
  .post_container .post-list img{
    border-radius: 4px;
  }
}